
<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
}
</style>


 <div class="footer">
    {{#link-to 'about'}}About |{{/link-to}}
    {{#link-to 'contact'}}Contact |{{/link-to}}
   {{#link-to 'term'}}Terms and Conditions |{{/link-to}}
   
</div>