<div class="container">

    <p>
   <b>HappyRetail</b> is a British multinational grocery and general merchandise retailer headquartered in United
    Kingdom. It is the third largest retailer in the world measured by profits and second-largest retailer in the
    world measured by revenues. It has stores in 12 countries across Asia and Europe and is the grocery
    market leader in the UK (where it has a market share of around 30%), the Republic of Ireland, Hungary,
    Malaysia and Thailand.
    Today’s consumers are more demanding than ever. Customers have more choices and purchasing
    channels than ever before and when they interact with a retailer they want you to know who they are
    and what they want.  To be competitive in today&#39;s demanding multi-channel retail environment, retailers
    need their retail management systems integrated to deliver enhanced customer service across channels
    while driving growth and increased revenue.
    Leveraging the years of experience in Retail Industry and tapping the potential of eBusiness /ecommerce,
    HappyRetail has decided to invest in developing state of art, customer friendly, Retail Management
    Portal. The HappyRetail portal planned to be developed, should focus on the ease of usage, with the
    homepage showcasing the product categories available to shop online and having simple navigation
    mechanism to view and place order on the chosen product.
    Every customer likes discount. The portal to be developed can announce the latest offers, deals and
    clearance sale prominently to catch the attention of the casual browsers and convert them into
    customers.
        The planned portal can enhance the shopping experience letting customers shop by their preferred
    criteria: by category, by brand, by age, by gender, etc. Such website filters, increase the efficiency of the
    estore for customers and can save them much time while shopping. For the new comers to the portal, a
    search box combined with a drop down list of categories will ensure he finds what he is looking for and
    ensures his shopping experience is good.
  </p>



{{slide-show}}

</div>

{{foot-er}}

{{outlet}}